.modal{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;


}

.modal-content{
    display: flex;
    flex-direction: column;
    gap:24px;
    width: 60vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: #4040a1;
    color: white;
}
.modal-field {
    width: calc(50% - 16px);
    height: 36px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    margin: 0 8px 8px 0;
    font-size:1rem;
    margin-left: 5px;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}
.modal-footer button {
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 8px 8px;
    width: 100px;
}

.modal-close{
    background-color: red;
    height: 120%;
    cursor: pointer;
}